{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'cir.css' %}">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'assets/style/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/style/notice.css' %}">
	<title>TAE</title>
</head>

<body>


	{% if teacher %}
		<!-- SIDEBAR -->
		<section id="sidebar">
			<a href="/" class="brand">
				<span class="text"><img src="{% static '/assets/img/tae-logo.png'%}" height="100px" alt=""></span>
			</a>
			<ul class="side-menu top">
				<li class="active">
					<a href="/">
						<i class='bx bxs-dashboard'></i>
						<span class="text">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="academics">
						<i class='bx bxs-calendar-star'></i>
						<span class="text">Academics</span>
					</a>
				</li>
				<li>
					<a href="notices.html">
						<i class='bx bxs-doughnut-chart'></i>
						<span class="text">Notices</span>
					</a>
				</li>
				<li>
					<a href="">
						<i class='bx bxs-message-dots'></i>
						<span class="text">Time Table</span>
					</a>
				</li>
				<li>
					<a href="">
						<i class='bx bxs-group'></i>
						<span class="text">Leaves</span>
					</a>
				</li>
	
				<li>
					<a href="students">
						<i class='bx bxs-group'></i>
						<span class="text">Student Info</span>
					</a>
				</li>
				<li>
					<a href="">
						<i class='bx bxs-group'></i>
						<span class="text">Feedback</span>
					</a>
				</li>
			</ul>
			<ul class="side-menu">
				<li>
					<a href="#">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>
				</li>
				<li>
					<a href="logout" class="logout">
						<i class='bx bxs-log-out-circle'></i>
						<span class="text">Logout</span>
					</a>
				</li>
			</ul>
		</section>
		<!-- SIDEBAR -->
	{% endif %}
	{% if Principal %}
			<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/" class="brand">
			<span class="text"><img src="{% static '/assets/img/tae-logo.png' %}" height="100px" alt=""></span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="academics">
					<i class='bx bxs-calendar-star'></i>
					<span class="text">Academics</span>
				</a>
			</li>
			<li>
				<a href="logs">
					<i class='bx bxs-calendar-star'></i>
					<span class="text">Daily Logs</span>
				</a>
			</li>
			<li>
				<a href="notices">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Notices</span>
				</a>
			</li>
			<li>
				<a href="timetable">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Time Table</span>
				</a>
			</li>
			<li>
				<a href="leaves">
					<i class='bx bxs-group'></i>
					<span class="text">Leaves</span>
				</a>
			</li>

			<li>
				<a href="students">
					<i class='bx bxs-group'></i>
					<span class="text">Student Info</span>
				</a>
			</li>
			<li>
				<a href="feedback">
					<i class='bx bxs-group'></i>
					<span class="text">Feedback</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="logout" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->
	{% endif %}



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
		<div class="intro">
				<h2>Trinity Academy of Engineering</h2>
			</div>
			<!-- <form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
				<span class="num">8</span>
			</a> -->

			<a href="#" class="profile" style="width: 100%;">
				<p>Prof.{{teacher.FirstName}} {{teacher.LastName}}</p>	<img src="{% static '/assets/img/user.png' %}">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Notice</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Notices</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
					</ul>
				</div>
			</div>
			<section class="main-course">
				<h1>My Notices</h1>
				<table class="content-table">
					<thead>
					  <tr>
						<th>Sr. no.</th>
						<th>Professor</th>
						<th>Department</th>
						<th>Date and Time</th>
						<th>Notice</th>
						<th>Read</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>1</td>
						<td>R. B. Lagdive</td>
						<td>Comp</td>
						<td> published on:12/04/2024 <br>
						valid upto : 12/04/24</td>
						<td>  Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>2</td>
						<td>Nilufer Zaman</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,  </td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>3</td>
						<td>Susha Adagale</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, quia! </td>
						<td>Read</td>
					  </tr>
					  <tr class="active-row">
						<td>4</td>
						<td>Sikha Sharma</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum placeat,</td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>5</td>
						<td>Abhijeet Cholke</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>5</td>
						<td>Abhijeet Cholke</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>5</td>
						<td>Abhijeet Cholke</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Read</td>
					  </tr>
					  <tr>
						<td>5</td>
						<td>Abhijeet Cholke</td>
						<td>Comp</td>
						<td><p id="datetime"></p></td>
						<td>Lorem ipsum dolor sit amet.</td>
						<td>Read</td>
					  </tr>
					</tbody>
				  </table>
				  
			  </section>
			  
			</section>


			<!-- floating button starts -->
			<div class="wrapper">
				<input type="checkbox"   id="toggle">
				<label for="toggle" id="ltoggle"></label>
				<div class="nav">
					<form action="/submit" method="POST">
						<div>
							<input type="text" id="name" name="name" placeholder="Prof. Name">
						</div>
						<div>
							<input type="text" id="title" name="title" placeholder="Notice Title">
						</div>
					
						<div>
							<Select>
								<option value="">Department</option>
								<option value="">Comp</option>
								<option value="">I.T.</option>
								<option value="">Mech</option>
								<option value="">Civil</option>
								<option value="">E&TC</option>
							</Select>
						</div>
						<div>
							<label for="date">Date</label>
							<input type="datetime-local">
						</div>
						<div>
							<label for="vdate">Valid Upto</label>
							<input type="datetime-local">
						</div>
						<div>
							<input type="file" id="file" name="file" accept=".pdf">
						</div>
						
						<button type="submit">Publish</button>
					</form>
				</div>
			</div>
			
	
		</main>	

	</section>
	<!-- CONTENT -->
	<script>
		var now = new Date();
		var datetime = now.toLocaleString();
		document.getElementById("datetime").innerHTML = datetime;
		const supabase = window.supabase.createClient('https://gipdgkwmxmmykyaliwhr.supabase.co/'
		, 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpcGRna3dteG1teWt5YWxpd2hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDU1OTg4NTIsImV4cCI6MjAyMTE3NDg1Mn0.GrCKjv0gzqFMRr5l3iTEWSa79LX2HU4P0KjEmWxfkKI');
		
		async function uploadImage(event) {
		  event.preventDefault();
		  const fileInput = document.getElementById('file');
		  const  year= document.getElementById('year').value;
		  const department = document.getElementById('department').value;
		  const file = fileInput.files[0];
		  if (!file) {
			console.error('No file selected.');
			return;
		  }
  
		  const fileData = await file.arrayBuffer();
		  const content_type = file.type || 'application/octet-stream';
		  path='public/'+year+'/'+department+'/'+file.name+'';
		  try {
			const { data, error } = await supabase.storage.from('noticebucket').upload(path, fileData, {
			  contentType: content_type,
			});
			
			if (error) {
			  if(error.message==='The resource already exists'){
				alert('File already exists, please rename the file and upload again.');
			  }else{
				console.error('Error uploading image:', error.message);
				alert('Error uploading image');
			  }
			}
			 else {
			  alert('Image uploaded successfully');
			}
		  } catch (error) {
			console.error('Error uploading image:', error.message);
		  }
		}
	  </script>
	  </script>

	<script src="assets/script/script.js"></script>

</body>

</html>