{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block style %}
    <style>
        .card2 form select{
            width:max-content;
        }
    </style>
    {% endblock %}
    <title>TAE</title>
</head>

<body>

    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->

        <!-- NAVBAR -->

        <!-- MAIN -->
    {% block content %}
            <div class="head-title">
                <div class="left">
                    <h1>Students</h1>

                </div>
            </div>

            <div class="card2">
                <form method="POST">
                    {% csrf_token %}
                    <select required name="department">
                        <option disabled selected>Select Department</option>
                        {% for department in department %}
                        <option value="{{ department.DepartmentID }}">{{ department.DepartmentName }}</option>
                        {% endfor %}
                    </select>
                    <select required name="year">
                        <option disabled selected>Select Year</option>
                        {% for year in year %}
                        <option value="{{ year.YearID }}">{{ year.YearName }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="search">Search</button>
                </form>

                <section class="main-course">
                    <table class="content-table" id="contentTable">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>PRN No.</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Contact</th>
                                <th>Department</th>
                                <th>Year</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if students_data %}
                            {% for student_data in students_data %}
                            <tr>
                                <td>{{ student_data.student.RollNumber }}</td>
                                <td>{{ student_data.student.PRN }}</td>
                                <td>{{ student_data.student.FirstName }} {{ student_data.student.LastName }}</td>
                                <td>{{ student_data.student.Email }}</td>
                                <td>{{ student_data.student.MobileNumber }}</td>
                                <td>{{ student_data.student.CurrentClassID.DepartmentID.DepartmentName }}</td>
                                <td>{{ student_data.student.CurrentClassID.YearID.YearName }}</td>
                                <td>{{ student_data.average_percentage|floatformat:2 }}%</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="8">No students found for the selected department and year.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>{% endblock %}
        
    </section>

    <script src="{% static 'assets/script/script.js' %}"></script>
    <script src="{% static 'assets/script/script.js' %}"></script>

</body>

</html>
